<!DOCTYPE html>
<html>
<head>
  <title>Philosophical Wisdom</title>
  <link href='https://fonts.googleapis.com/css?family=Convergence' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
  <div id="content">
    <p>Welcome to my random philosophical wisdom generator</p>
    <p>Please select one or more philosophers and click on the <strong>Get Wise!</strong> button below to for a random bit of wisdom!</p>
    <% File.readlines('public/form.html').each do |line| %>
      <%= line %>
    <% end %>
  </div>
</body>
</html>