<p class="main-text">Welcome to my random philosophical wisdom generator</p>
<p class="sub-text">Please select one or more philosophers and click on the <strong>Get Wise!</strong> button below to for a random bit of wisdom!</p>