<!DOCTYPE html>
<html>
<head>
  <title>Philosophical Wisdom</title>
</head>
<body>
  <p><%= quote %></p>
  <p>Want more? Please click on the <strong>Get Wise!</strong> button below to for another random bit of wisdom!</p>
  <form action="/results" method="get">
    <input type="submit" value="Get Wise!">
  </form>
</body>
</html>