body {
  text-align: center;
  font-family: 'convergence';
  background-image:url('black_denim.png');
  max-width: 1200px;
}

body > #content {
  border-radius: 20px;
  width: 80%;
  padding: 20px 20px 100px 20px;
  margin: 30px auto;
  background-color: white;
}

.philosopher-pic {
  height: 50px;
}